   <div class="row">
      <div class="col-sm-6 col-md-4">
          <%= image_tag "anon_dog.jpg", class:"img-rounded img-responsive" %>
      </div>

       <div class="col-sm-6 col-md-8">
                          
 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">

    <div class="row">
      <div class="col-sm-12 col-md-12">
          <p>Información</p>
      </div>

  </div>
</div>

  <div class="panel-body">
     <h3><%= @pet.name %> </h3>
 
  </div>
  
  <ul class="list-group">
    
    <li class="list-group-item">Raza: <%=@pet.breed%></li>
    <li class="list-group-item">Descripción:<%=@pet.description %></li>
    <li class="list-group-item">Tamaño:<%=@pet.size%></li>
    <!-- Single button -->

  </ul>
</div>
     
</div>
 </div>