<p id="notice"><%= notice %></p>


  <div class="row">
      <div class="col-sm-6 col-md-4">
          <%= image_tag "anon_user.png", class:"img-rounded img-responsive" %>
      </div>

       <div class="col-sm-6 col-md-8">
                          
 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Información</div>
  <div class="panel-body">
     <h3><%= @user.first_name %> <%= @user.last_name %></h3>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><%= @user.email %></li>
    <li class="list-group-item"><%= @user.adress_street %> <%= @user.adress_number %> <%= @user.adress_apartment %>, <%= @user.location %>, <%= @user.state %>, <%= @user.country %>.</li>
    <li class="list-group-item">Teléfono:  <%= @user.phone1 %> / <%= @user.phone2 %></li>
  </ul>
</div>
     
</div>
 </div>

<% if @pets.any? %>
 <h3> Estas son tus mascotas:</h3>
<% @pets.each do |pet| %>

   <div class="row">
      <div class="col-sm-6 col-md-4">
          <%= image_tag "anon_dog.jpg", class:"img-rounded img-responsive" %>
      </div>

       <div class="col-sm-6 col-md-8">
                          
 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Información</div>
  <div class="panel-body">
     <h3><%= pet.name %> </h3>
  </div>
  
  <ul class="list-group">
    
    <li class="list-group-item">Raza: <%=pet.breed%></li>
    <li class="list-group-item">Descripción:<%=pet.description %></li>
    <li class="list-group-item">Tamaño:<%=pet.description%></li>
    
  </ul>
</div>
     
</div>
 </div>

 <% end %>
 <% else %>
 <div class="row">
  <div class="col-sm-12 col-md-12">
 <h3> No tenés ninguna mascota registrada.</h3>
</div>
</div>
  <% end %>